<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cart">
	<insert id="insertCart" parameterType="cartDto">
		INSERT INTO cart
		(cart_idx, item_idx, users_email, cart_amount)
		VALUES(cart_seq.NEXTVAL, #{item_idx}, #{users_email}, #{cart_amount})
	</insert>
</mapper>