<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cart">

	<!-- 장바구니 구매수량 변경 -->
	<update id="updateCart" parameterType="cartDto">
		UPDATE cart
		SET cart_amount=#{cart_amount}, cart_price=#{cart_price}
		WHERE cart_idx=#{cart_idx}
	</update>
	
	<!-- 장바구니에서 상품 삭제 -->
	<delete id="deleteCart" parameterType="int">
		DELETE FROM cart
		WHERE cart_idx=#{cart_idx}
	</delete>
	
	<!-- 장바구니 주인 이메일 불러오기 -->
	<select id="getCartEmail" parameterType="int" resultType="string">
		SELECT users_email
		FROM cart
		WHERE cart_idx=#{cart_idx}
	</select>
	
	<!-- 장바구니 목록 불러오기 -->
	<select id="getCartList" parameterType="string" resultType="cartDto">
		SELECT c.cart_idx, c.item_idx, c.users_email, c.cart_amount,c.cart_price, i.item_title, i.item_price, i.item_image
		FROM cart c, item i
		WHERE c.item_idx = i.item_idx
		AND c.users_email = #{users_email}
		ORDER BY c.cart_idx DESC
	</select>
	
	<!-- 장바구니 특정 row에서 item_price 가져오기 -->
	<select id="getCartData" parameterType="int" resultType="int">
		SELECT i.item_price
		FROM cart c, item i
		WHERE c.item_idx = i.item_idx
		AND c.cart_idx = #{cart_idx}
	</select>
	
	<!-- 장바구니에 상품 추가 -->
	<insert id="insertCart" parameterType="cartDto">
		INSERT INTO cart
		(cart_idx, item_idx, users_email, cart_amount, cart_price)
		VALUES(cart_seq.NEXTVAL, #{item_idx}, #{users_email}, #{cart_amount}, #{cart_price})
	</insert>
</mapper>