<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="users">
	<select id="isExist" parameterType="java.lang.String" resultType="string">
		SELECT users_email 
		FROM new_users
		WHERE users_email=#{users_email}
	</select>
	<insert id="insert" parameterType="com.phoenix.farmpam.users.dto.UsersDto">
		INSERT INTO new_users
		(users_email, users_pwd, users_name, users_addr, users_addr_detail, users_phone, users_regdate)
		VALUES(#{users_email}, #{users_pwd }, #{users_name }, #{users_addr }, #{users_addr_detail }, #{users_phone}, SYSDATE) 
	</insert>
	<select id="getData" parameterType="string" 
	 resultType="com.phoenix.farmpam.users.dto.UsersDto">
		SELECT users_email, users_pwd, users_name, users_addr, users_addr_detail, users_phone, users_profile, users_ban, users_regdate
		FROM new_users
		WHERE users_email=#{users_email }
	</select>
</mapper>